This is my test file

In [4]:
import pandas as pd
import numpy as np

In [8]:
cities = ['Minneapolis','St.Paul',"Morris","Circle Pines"]
years_live = [3,2,1,3]
months_live = list(np.array(years_live) * 24)
school = ["UMN","UST","UMM","SPP"]

Create lists, which will become values for my DataFrame

In [11]:
list_label = ['city', 'years','months','schools']
list_columns = [cities,years_live,months_live,school]
zipped = list(zip(list_label,list_columns))
data = dict(zipped)
users = pd.DataFrame(data)

In [12]:
users

           city  years  months schools
0   Minneapolis      3      72     UMN
1       St.Paul      2      48     UST
2        Morris      1      24     UMM
3  Circle Pines      3      72     SPP